JELLYFIN_CACHE="../../volumes/jellyfin/cache"
JELLYFIN_CONFIG="../../volumes/jellyfin/config"
JELLYFIN_DATA="../../srv/volumes/jellyfin/lib"
JELLYFIN_PublishedServerUrl="http://localhost:8096"
MEDIA_MOVIES=""
MEDIA_SHOWS=""
TZ=""
